@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --black: #111111;
    --pure-white: #ffffff;
    --yellow: #f4d04e;
    --grey: #7f7f7f;
}

html {
    height: 100%;
    background-color: var(--yellow);
}

body {
    margin: 0;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    user-select: none;
}

.container {
    background-color: var(--pure-white);
    border: 2px solid var(--black);
    border-radius: 20px;
    padding: 24px;
    padding-bottom: 0;
    max-width: 337px;
    margin: 8px;
    box-shadow: 8px 8px 0px 0px #000000;
}

.illustration {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.tags {
    margin: 24px 0 12px 0;
    user-select: none;
}

.tag {
    padding: 4px 12px;
    background-color: var(--yellow);
    border-radius: 4px;
}

.date {
    color: var(--black);
    margin: 0;
    margin-bottom: 12px;
}

.text {
    font-family: "Figtree", sans-serif;
}

.text-heading {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 800;
}

.text-med {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}

.text-small-bold {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 800;
}

.text-small-regular {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
}

.name {
    margin: 0;
    margin-bottom: 12px;
}

.desc {
    color: var(--grey);
    margin: 0;
    margin-bottom: 12px;
}

.author img {
    height: 32px;
    width: 32px;
    padding-right: 12px;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.attribution {
    font-size: 10px;
    text-align: center;
    padding: 12px 0;
}

.attribution a:hover {
    transition: 0.1s;
    color: var(--yellow);
}